/** sprite: mysprite; sprite-image: url('../img/mysprite.png'); sprite-layout: vertical */
///** sprite-ref: mysprite; */
@import 'normalize.less';
@import 'lessmix.less';
//Шрифты
@import 'font.less';
//Переменные
@import 'variables.less';

@import 'block/menu.less';

.block1
{
    width: auto;

    .center;
}

.block1-top
{
    width: auto;
    height: 792px;

    background: url('@{img}/block1__top.jpg') no-repeat;
    background-position: 50% 0;

    .center;
} 
