@font:       '../font';
@light:      'latolight';
@regular:    'latoregular';
@bold:       'latobold';
@black:      'latoblack'; 
@italic:     'latoitalic';

@color_black: '#333333';
@color_white: '#fff';
@color_yellow: '#ffca26';
@color_yellow-light: '#ffcc33';
@color_gray:   '#a8a8a8';
@color_heart:  '#ff0707';
