@font:       '../font';
@img:        '../img';
@light:      latolight;
@regular:    latoregular;
@bold:       latobold;
@black:      latoblack;
@italic:     latoitalic;

@color_black:         #333;
@color_white:         #fff;
@color_yellow:        #ffca26;
@color_yellow-light:  #fc3;
@color_gray:          #a8a8a8;
@color_heart:         #ff0707;

*
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    outline: none;
}

.clearfix
{
    display: block;
    zoom: 1;

    &:after
    {
        font-size: 0;

        display: block;
        visibility: hidden;
        clear: both;

        height: 0;

        content: ' ';
    }
}

.wrapper
{
    width: 940px;

    .center;
}
